solutions/dd_TeamsTicketDiscussion/Workflows/TeamsTicketDiscussion-Config-3720EF04-3514-EC11-B6E6-000D3A1E2BEE.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dd_TeamsTicketDiscussionDataverse"
        },
        "api": { "name": "shared_commondataserviceforapps" }
      },
      "shared_teams_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "dd_TeamsTicketDiscussionTeams"
        },
        "api": { "name": "shared_teams" }
      },
      "shared_deskdirector_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "dd_TeamsTicketDiscussionDeskDirector"
        },
        "api": { "name": "shared_deskdirector" }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": { "defaultValue": {}, "type": "Object" },
        "$authentication": { "defaultValue": {}, "type": "SecureObject" }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "86c7fdd1-8df5-4fb2-9f66-25f03243c737"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": { "type": "object", "properties": {}, "required": [] }
          }
        }
      },
      "actions": {
        "Store_Config": {
          "actions": {
            "Condition": {
              "actions": {
                "Add_a_new_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1c42c6b1-88f8-4531-8525-41936c1d23f5"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "dd_teamsticketdiscussionconfigs",
                      "item/dd_allownewthreads": "@int(body('Config')?['allowNewThreads'])",
                      "item/dd_configid": "0",
                      "item/dd_deskdirectordomain": "@body('Config')?['domain']",
                      "item/dd_teamschannelid": "@body('Parse_Config')?['channelId']",
                      "item/dd_teamspostas": "@body('Parse_Config')?['postAs']",
                      "item/dd_teamspostin": "@body('Parse_Config')?['postIn']",
                      "item/dd_teamsteamid": "@body('Parse_Config')?['groupId']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": { "List_rows": ["Succeeded"] },
              "else": {
                "actions": {
                  "Update_a_row": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "53b3817f-5c42-4121-a601-c5e9191a6a84"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "dd_teamsticketdiscussionconfigs",
                        "recordId": "@outputs('List_rows')?['body/value'][0]['dd_teamsticketdiscussionconfigid']",
                        "item/dd_allownewthreads": "@int(body('Config')?['allowNewThreads'])",
                        "item/dd_configid": "0",
                        "item/dd_deskdirectordomain": "@body('Config')?['domain']",
                        "item/dd_teamschannelid": "@body('Parse_Config')?['channelId']",
                        "item/dd_teamspostas": "@body('Parse_Config')?['postAs']",
                        "item/dd_teamspostin": "@body('Parse_Config')?['postIn']",
                        "item/dd_teamsteamid": "@body('Parse_Config')?['groupId']"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "equals": ["@length(outputs('List_rows')?['body/value'])", 0]
              },
              "metadata": {
                "operationMetadataId": "3e61e5b5-7b26-48b1-b586-e200fe2455cd"
              },
              "type": "If"
            },
            "Parse_Config": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c18de1d1-f599-45b6-a4cb-3642a16e7e2b"
              },
              "type": "ParseJson",
              "inputs": {
                "content": {
                  "postAs": "@actions('Post_message_in_a_chat_or_channel')?['inputs/parameters']['poster']",
                  "postIn": "@actions('Post_message_in_a_chat_or_channel')?['inputs/parameters']['location']",
                  "channelId": "@actions('Post_message_in_a_chat_or_channel')?['inputs/parameters']['body/recipient/channelId']",
                  "groupId": "@actions('Post_message_in_a_chat_or_channel')?['inputs/parameters']['body/recipient/groupId']"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "postAs": { "type": "string" },
                    "postIn": { "type": "string" },
                    "channelId": { "type": "string" },
                    "groupId": { "type": "string" }
                  }
                }
              }
            },
            "List_rows": {
              "runAfter": { "Parse_Config": ["Succeeded"] },
              "metadata": {
                "operationMetadataId": "dfe28599-0a74-4d63-ab05-6687a3bc80c7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "dd_teamsticketdiscussionconfigs",
                  "$filter": "dd_configid eq '0'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": { "Test_Connections": ["Succeeded"] },
          "metadata": {
            "operationMetadataId": "342f6bbe-6f20-4d34-bbf1-0c2472450dca"
          },
          "type": "Scope"
        },
        "Things_for_you_to_configure": {
          "actions": {
            "Post_message_in_a_chat_or_channel": {
              "runAfter": { "Config": ["Succeeded"] },
              "metadata": {
                "operationMetadataId": "c426d23a-30f9-4b38-bdbb-2403c5fa3e3b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams_1",
                  "operationId": "PostMessageToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Channel",
                  "body/recipient/groupId": "e18c2fc7-6848-4bf9-bf51-feaa4869d211",
                  "body/recipient/channelId": "19:OhIA1aWBeS9URflvUl3AenwqvG_NcibrKmRUq1A_NdI1@thread.tacv2",
                  "body/messageBody": "<p>Testing Teams connection for <strong>Teams Ticket Discussion Solution</strong>.</p>"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              },
              "description": "This solution only supports posting in a channel. The \"Post in\" input must be \"Channel\""
            },
            "Config": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2fc6ac82-b897-4dfc-a40b-6461e58730cc"
              },
              "type": "ParseJson",
              "inputs": {
                "content": {
                  "domain": "subdomain.deskdirector.com",
                  "allowNewThreads": false
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": { "type": "string" },
                    "allowNewThreads": { "type": "boolean" }
                  }
                }
              },
              "description": "Domain in the form of subdomain.deskdirector.com. AllowNewThreads: allow new threads or reuse existing if a ticket already has one."
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "142e6e1c-9d66-4344-8e6f-9a2b21a34e83"
          },
          "type": "Scope",
          "description": "Configure these actions to get up and running"
        },
        "Test_Connections": {
          "actions": {
            "Find_companies": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8c4a1420-3c52-4154-af59-29bedab3ea00"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_deskdirector_1",
                  "operationId": "FindCompanies",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_deskdirector"
                },
                "parameters": { "req/skip": 0, "req/take": 1 },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              },
              "description": "Just to test your DeskDirector connection"
            }
          },
          "runAfter": { "Things_for_you_to_configure": ["Succeeded"] },
          "metadata": {
            "operationMetadataId": "f9238ecf-8cfb-4365-b78c-1b10f815b736"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}
