solutions/dd_TeamsTicketDiscussion/Workflows/TeamsTicketDiscussion-TicketCreated-DD4D1F82-E411-EC11-B6E6-000D3A117D4D.json
{
  "properties": {
    "connectionReferences": {
      "shared_teams_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dd_TeamsTicketDiscussionTeams"
        },
        "api": { "name": "shared_teams" }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dd_TeamsTicketDiscussionDataverse"
        },
        "api": { "name": "shared_commondataserviceforapps" }
      },
      "shared_deskdirector_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dd_TeamsTicketDiscussionDeskDirector"
        },
        "api": { "name": "shared_deskdirector" }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": { "defaultValue": {}, "type": "Object" },
        "$authentication": { "defaultValue": {}, "type": "SecureObject" }
      },
      "triggers": {
        "When_a_ticket_is_created_or_updated": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_deskdirector_1",
              "operationId": "CreateTicketWorkflow",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_deskdirector"
            },
            "parameters": {
              "type": "ticket.new",
              "req/description": "Teams Ticket Discussion - Ticket Created"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "DeskDirector_Domain": {
          "runAfter": { "Get_Config": ["Succeeded"] },
          "type": "ParseJson",
          "inputs": {
            "content": { "domain": "@body('Parse_Config')?['ddDomain']" },
            "schema": {
              "type": "object",
              "properties": { "domain": { "type": "string" } }
            }
          }
        },
        "Post_message_in_a_chat_or_channel": {
          "runAfter": { "Ticket_Hyperlink": ["Succeeded"] },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams_1",
              "operationId": "PostMessageToConversation",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "poster": "@body('Parse_Config')?['postAs']",
              "location": "@body('Parse_Config')?['postIn']",
              "body": {
                "recipient": {
                  "groupId": "@body('Parse_Config')?['groupId']",
                  "channelId": "@body('Parse_Config')?['channelId']"
                },
                "messageBody": "<span style='font-size:20px'><b>@{triggerOutputs()?['body/ticket/name']}</b></span><br><p>Contact: @{triggerOutputs()?['body/ticket/contact/name']} (@{triggerOutputs()?['body/ticket/contact/emailAddress']})<br>@{outputs('Ticket_Hyperlink')}</p>"
              }
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Add_a_new_row": {
          "runAfter": { "Post_message_in_a_chat_or_channel": ["Succeeded"] },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "dd_teamsticketdiscussionstates",
              "item/dd_teamsmessageid": "@outputs('Post_message_in_a_chat_or_channel')?['body/id']",
              "item/dd_ticketid": "@triggerOutputs()?['body/ticket/id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Ticket_Hyperlink": {
          "runAfter": { "DeskDirector_Domain": ["Succeeded"] },
          "type": "Compose",
          "inputs": "<a href=\"https://@{body('DeskDirector_Domain')?['domain']}/tech/tickets/@{triggerOutputs()?['body/ticket/id']}/details\">View in Tech</a>"
        },
        "Update_a_ticket": {
          "runAfter": { "Add_a_new_row": ["Succeeded"] },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_deskdirector_1",
              "operationId": "UpdateTicket",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_deskdirector"
            },
            "parameters": {
              "ticketId": "@triggerOutputs()?['body/ticket/id']",
              "req/noteContent": "[A Teams discussion was started here](@{outputs('Post_message_in_a_chat_or_channel')?['body/messageLink']})",
              "req/noteIsInternal": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Config": {
          "actions": {
            "List_Config": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "dd_teamsticketdiscussionconfigs",
                  "$select": "dd_configid, dd_deskdirectordomain, dd_teamspostin, dd_teamspostas, dd_teamsteamid, dd_teamschannelid",
                  "$filter": "dd_configid eq '0'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Only_one_config_entry": {
              "actions": {
                "Parse_Config": {
                  "runAfter": {},
                  "type": "ParseJson",
                  "inputs": {
                    "content": {
                      "ddDomain": "@outputs('List_Config')?['body/value'][0]['dd_deskdirectordomain']",
                      "postAs": "@outputs('List_Config')?['body/value'][0]['dd_teamspostas']",
                      "postIn": "@outputs('List_Config')?['body/value'][0]['dd_teamspostin']",
                      "channelId": "@outputs('List_Config')?['body/value'][0]['dd_teamschannelid']",
                      "groupId": "@outputs('List_Config')?['body/value'][0]['dd_teamsteamid']"
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ddDomain": { "type": "string" },
                        "postAs": { "type": "string" },
                        "postIn": { "type": "string" },
                        "channelId": { "type": "string" },
                        "groupId": { "type": "string" }
                      }
                    }
                  }
                }
              },
              "runAfter": { "List_Config": ["Succeeded"] },
              "else": {
                "actions": {
                  "Terminate_-_Conflicting_Config": {
                    "runAfter": {},
                    "type": "Terminate",
                    "inputs": { "runStatus": "Cancelled" }
                  }
                }
              },
              "expression": {
                "equals": ["@length(outputs('List_Config')?['body/value'])", 1]
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "type": "Scope"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}
