solutions/dd_TeamsTicketDiscussion/Workflows/TeamsTicketDiscussion-TicketNoteAdded-9CC6E1E3-E711-EC11-B6E6-000D3A1179FC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dd_TeamsTicketDiscussionDataverse"
        },
        "api": { "name": "shared_commondataserviceforapps" }
      },
      "shared_teams_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dd_TeamsTicketDiscussionTeams"
        },
        "api": { "name": "shared_teams" }
      },
      "shared_deskdirector_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dd_TeamsTicketDiscussionDeskDirector"
        },
        "api": { "name": "shared_deskdirector" }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": { "defaultValue": {}, "type": "Object" },
        "$authentication": { "defaultValue": {}, "type": "SecureObject" }
      },
      "triggers": {
        "When_a_ticket_is_created_or_updated": {
          "metadata": {
            "operationMetadataId": "b9a06943-c7a0-45bc-8066-20b2b543b3c4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_deskdirector_1",
              "operationId": "CreateTicketWorkflow",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_deskdirector"
            },
            "parameters": {
              "type": "ticket.notes.added",
              "req/description": "Teams Ticket Discussion - Ticket Note Added"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": { "Get_Config": ["Succeeded"] },
          "metadata": {
            "operationMetadataId": "cbd43b0b-2e22-49d7-ba07-7bbd455666d5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "dd_teamsticketdiscussionstates",
              "$select": "dd_ticketid, dd_teamsmessageid",
              "$filter": "dd_ticketid eq '@{triggerOutputs()?['body/ticket/id']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Only_one_ticket_state_entry": {
          "actions": {},
          "runAfter": { "List_rows": ["Succeeded"] },
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "864f4f32-0a0a-425b-b04b-0f33178946ce"
                },
                "type": "Terminate",
                "inputs": { "runStatus": "Cancelled" }
              }
            }
          },
          "expression": {
            "equals": ["@length(outputs('List_rows')?['body/value'])", 1]
          },
          "metadata": {
            "operationMetadataId": "4b36933c-7669-4df7-b171-f30a27e67209"
          },
          "type": "If"
        },
        "Reply_with_a_message_in_a_channel": {
          "runAfter": { "Only_one_ticket_state_entry": ["Succeeded"] },
          "metadata": {
            "operationMetadataId": "4cd20001-4ee2-45ef-9312-0b6e5762b806"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams_1",
              "operationId": "ReplyWithMessageToConversation",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "poster": "@body('Parse_Config')?['postAs']",
              "location": "@body('Parse_Config')?['postIn']",
              "body": {
                "parentMessageId": "@outputs('List_rows')?['body/value'][0]['dd_teamsmessageid']",
                "recipient": {
                  "groupId": "@body('Parse_Config')?['groupId']",
                  "channelId": "@body('Parse_Config')?['channelId']"
                },
                "messageBody": "<p><b>@{triggerOutputs()?['body/note/user/name']}</b> has posted @{if(triggerOutputs()?['body/note/isInternal'],'an internal note', 'a note')}:<br><br>@{triggerOutputs()?['body/note/content']}</p>"
              }
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Config": {
          "actions": {
            "List_Config": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "324b997a-8956-4de4-996a-dd79d10ccc53"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "dd_teamsticketdiscussionconfigs",
                  "$select": "dd_configid, dd_deskdirectordomain, dd_teamspostin, dd_teamspostas, dd_teamsteamid, dd_teamschannelid",
                  "$filter": "dd_configid eq '0'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Only_one_config_entry": {
              "actions": {
                "Parse_Config": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5df6bf52-970d-41df-b2cd-e69b117390ef"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": {
                      "ddDomain": "@outputs('List_Config')?['body/value'][0]['dd_deskdirectordomain']",
                      "postAs": "@outputs('List_Config')?['body/value'][0]['dd_teamspostas']",
                      "postIn": "@outputs('List_Config')?['body/value'][0]['dd_teamspostin']",
                      "channelId": "@outputs('List_Config')?['body/value'][0]['dd_teamschannelid']",
                      "groupId": "@outputs('List_Config')?['body/value'][0]['dd_teamsteamid']"
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ddDomain": { "type": "string" },
                        "postAs": { "type": "string" },
                        "postIn": { "type": "string" },
                        "channelId": { "type": "string" },
                        "groupId": { "type": "string" }
                      }
                    }
                  }
                }
              },
              "runAfter": { "List_Config": ["Succeeded"] },
              "else": {
                "actions": {
                  "Terminate_-_Conflicting_Config": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "11955050-8827-417b-a7b8-e4d35b6ddb06"
                    },
                    "type": "Terminate",
                    "inputs": { "runStatus": "Cancelled" }
                  }
                }
              },
              "expression": {
                "equals": ["@length(outputs('List_Config')?['body/value'])", 1]
              },
              "metadata": {
                "operationMetadataId": "92ca3363-e0fb-48c4-8e65-0572bb3f08d9"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2c20a8f6-5345-44a2-b46c-5283fb580782"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}
